/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/css/all.css
/public/css/app.css
/public/js/all.js
/public/media
/public/js/bottom.js
/public/js/app.js
/public/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.svg
/public/fonts/ionicons.svg
/public/mix-manifest.json
/storage/settings.json
/storage/debugbar/