/*footer tag for rtl start*/
.section-footer .footer-tag{
    position: relative;
    border-right: 1px solid #fff;
    padding-top: 10px;
}
.section-footer .footer-tag li {
    position: relative;
    font-size: 13px;
    padding-right: 15px;
    line-height: 1;
    margin-bottom: 10px;
}
.section-footer .footer-tag li:before {
    height: 1px;
    width: 10px;
    background: #fff;
    content: '';
    position: absolute;
    right: 0;
    top: 12px;
}

/*footer tag for rtl end*/