/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
   

  
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {  
   .single-blog-item .card-footer {
    font-size: 14px;
}

.single-blog-item .social-share a {
    font-size: 13px;
}
body {
    padding-top: 35px;
}
.top-navbar {
    font-size: 13px;
    padding-bottom: 5px;
}
}


@media only screen and (max-width: 991px) {
   
.single-blog-item .card-imag-top .blog-image {
    height: 250px;
}

#ModalCenter .modal-content {
    padding: 0px;
}
.content-block-bg {
    padding: 10px;
}


}


/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .fixed-top.bg-scheme {
    top: 105px;
}

.top-navbar span {
    display: inline;
    text-align: center;
    font-size: 14px;
}
.top-navbar .top-bar-menu a {
    padding: 1px;
}

.top-navbar .col-md-7 {
    text-align: center;
}

.top-bar-menu {
    text-align: center;
}
.support{border: none;}
.funnel-sticky-sidebar {
    position: relative;
    top: 0;
}

.single-blog-item h2.card-title {
    font-size: 20px;
}

.single-blog-item .float-left,.single-blog-item .float-right {
    float: none !important;
    text-align: center;
}

.navbar-brand img {
    max-width: 180px;
}
.top-navbar{
    text-align: center;
}
.top-bar-menu a::before{
    margin-right: 5px;
}
/* offcanvas */
 .offcanvas-menu {
    position: fixed;
    z-index: 999;
    width: 90%;
    height: 100%;
    margin-left: -100%;
    transition: 0.3s;
    overflow-y: visible;
    background-color: #fff;
}
.offcanvas-overlay {
    position: relative;
    width:  100%;
    height:  100%;
    z-index: -1;
    opacity: 0;
    visibility:  hidden;
    transition: 0.3s;
}

.menu-triger {
    display: inline-block;
}
.menu-close {
    position:  absolute;
    right: 10px;
    top: -45px;
    font-size: 20px;
    color: #fff;
    cursor:  pointer;
    background-color: rebeccapurple;
    height: 40px;
    width: 50px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    display: inline-block;
}
.offcanvas-menu.active {
     margin-left: 0; 
}

.offcanvas-overlay.active {
    opacity: 0.6;
    visibility:  visible;
    z-index: 998;
}
.top-bar-menu {
    font-size: 12px;
    padding-bottom: 5px;
}

}


/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}